/* Modal Styling */

.book_detail_main_container{
    background-color: var(--neutral-black);
    opacity: 95%;
    height: 100vh;
    width : 100%;
    z-index : 99;
    position : absolute;
    top: 0;
    left: 0;

}

.book_detail_container {
    height: 100%;
    display : flex;
    justify-content: center;
    align-items: center;
}

.book_detail_sub_container{
    background-color: white;
    opacity: 100%;
    height : 70%;
    width : 50%;
    border-radius : 0.7rem;
    display: flex;
    gap: 1.1rem;
    overflow : hidden;
    position: relative;
}


.book_cover_page_modal {
    height: 100%;
    width: 40%;
    background-color: blue;
}

.book_details_container_modal {
    height: 100%;
    width : 75%;
    padding-block : 0.7rem;
}
.book__title_modal {
    font-size: 2rem;
    /* color: white; */
    padding-block-end: 1rem;
    margin-block-end: 0.8rem;
    border-bottom: 1px solid var(--primary-color-dark)

}

.book__author__year__styles_modal {
    color : var(--primary-color);
    font-size: 1.2rem;
}

.book__author_modal {
    margin-block-end : 0.5rem
}

.view_details_button_ {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
}

.button_container {
    display: flex;
    gap: 1.2rem;
}

.return_button {
    background-color : orange;
}


.close {
    border: 1px solid red;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    padding-block-end: 0.2rem;
    color: red;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 1.4rem;
    top: 1.2rem;
    cursor: pointer;
}