* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #007bff;
  --primary-color-dark : #0D324D;
  --neutral-black : #020202;
  --neutral-gray : #9DA2AB;
}

main {
  /* height: 100vh; */
  display: flex;
  margin-block-start: 5rem;
  margin-block-end: auto;
}